.dashboard-customers {
  padding-top: 40px;
  .allsearchinputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
    animation: filterinputs 0.5s backwards;
    transition: all 0.5s ease-in-out;
    input {
      border: none;
      background-color: #f5f7fa;
      padding: 10px;
      border-radius: 5px;
      margin-right: 20px;
      &:focus {
        outline: none;
      }
    }
  }
  .dashboard-header-customers {
    margin: 0 auto;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .customerheaderrightcontent {
      display: flex;
      .deleticon {
        position: relative;
        .basket-count {
          position: absolute;
          background-color: darkorange;
          border-radius: 20px;
          height: 25px;
          width: 25px;
          text-align: center;
          top: -7px;
          right: -7px;
          color: white;
          border: 1px solid white;
        }
        .btn {
          .trashempty {
            font-size: 22px;
          }
        }
      }
    }
    .customerheaderleftcontent {
      display: flex;
      justify-content: flex-start;
      align-items: end;
      .search {
        margin-left: 30px;
        border-radius: 20px;
        border: none;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        padding: 10px;
        input {
          border: none;
          &:focus {
            outline: none;
          }
        }
        .search-icon {
          color: dodgerblue;
          font-size: 25px;
        }
      }
    }

    .checkcolumnscustomers {
      .dropdown {
        .btn {
          background-color: #f5f7fa;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .columnlist {
            margin-right: 10px;
          }
          .downarrow {
            margin-left: 10px;
          }
          .uparrow {
            margin-left: 10px;
            margin-top: 3px;
          }
        }
        .dropdownwidth {
          width: 200px;
          top: 40px;
          right: 0;
          .dropdown-item {
            input {
              margin-right: 5px;
              height: 20px;
              width: 20px;
              margin-right: 10px;
            }
          }
          .dropdownsave {
            text-align: center;
            height: 50px;
            padding-top: 10px;

            a {
              border: 1px solid lightgray;
              padding: 5px 50px;
              border-radius: 5px;
              transition: all 0.3s;
              &:hover {
                color: white;
                background-color: deepskyblue;
              }
            }
          }
        }
      }
    }
  }
  .container-fluid {
    .row {
      .tablestyle {
        margin-bottom: 1rem;
        width: 90%;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        transition: all 0.5s ease;
        tr {
          th {
            padding: 20px 8px;
          }
        }
        tr {
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
          &:hover {
            background-color: #ddd;
          }
          td {
            padding: 8px;
          }
        }
        .infotableheader {
          width: 7%;
          cursor: pointer;
          text-align: center;
        }
        .deletetableheader {
          text-align: center;
        }
      }

      .button-list {
        text-align: center;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-top: 10px;
        .leftcontent {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 16%;
          select {
            border: none;
          }
        }
        .rightcontent {
          .button-previous {
            border: none;
            background-color: white;
            padding: 8px 16px;
          }
          .button-next {
            border: none;
            background-color: white;
            padding: 8px 16px;
          }
          .button-item {
            border: none;
            background-color: white;
            padding: 8px 16px;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

@keyframes filterinputs {
  from {
    transform: translateY(-60%);
  }
  to {
    transform: translateY(0%);
  }
}

.dark {
  .dashboard-customers {
    .dashboard-header-customers {
      .customerheaderleftcontent {
        .search {
          background-color: white;
        }
      }
      .customerheaderrightcontent {
        .deleticon {
          .btn {
            color: black;
            background-color: white;
            border-color: white;
           
          }
        }
        .checkcolumnscustomers{
          .dropdown{
            .dropdown-button{
              &:hover{
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
