.dashboard-customers {
  padding-top: 40px;
  .dashboard-header-customers {
    margin: 0 auto;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .customerheaderleftcontent {
      display: flex;
      justify-content: flex-start;
      align-items: end;
      .search {
        margin-left: 30px;
        border-radius: 20px;
        border: none;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        padding: 10px;
        input {
          border: none;
          &:focus {
            outline: none;
          }
        }
        .search-icon {
          color: dodgerblue;
          font-size: 25px;
        }
      }
    }

    .checkcolumnscustomers {
      .dropdown {
        .btn {
          background-color: #f5f7fa;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .columnlist {
            margin-right: 10px;
          }
          .downarrow {
            margin-left: 10px;
          }
          .uparrow {
            margin-left: 10px;
            margin-top: 3px;
          }
        }
        .dropdownwidth {
          width: 200px;
          top: 40px;
          right: 0;
          .dropdown-item {
            input {
              margin-right: 5px;
              height: 20px;
              width: 20px;
              margin-right: 10px;
            }
          }
          .dropdownsave {
            text-align: center;
            height: 50px;
            padding-top: 10px;
          

            a {
              border: 1px solid lightgray;
              padding: 5px 50px;
              border-radius: 5px;
              transition: all 0.3s;
              &:hover{
                color: white;
                background-color: deepskyblue;
              }
            }
          }
        }
      }
    }
  }
  .container-fluid {
    .row {
      .tablestyle {
        margin-bottom: 1rem;
        width: 90%;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        tr {
          th {
            padding: 20px 8px;
          }
        }
        tr {
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
          &:hover {
            background-color: #ddd;
          }
          td {
            padding: 8px;
          }
        }
        .infotableheader {
          width: 7%;
          cursor: pointer;
          text-align: center;
        }
        .deletetableheader {
          text-align: center;
        }
      }

      .button-list {
        text-align: center;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-top: 10px;
        .leftcontent {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 16%;
          select {
            border: none;
          }
        }
        .rightcontent {
          .button-previous {
            border: none;
            background-color: white;
            padding: 8px 16px;
          }
          .button-next {
            border: none;
            background-color: white;
            padding: 8px 16px;
          }
          .button-item {
            border: none;
            background-color: white;
            padding: 8px 16px;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
.buttonbgcolor {
}
