.dashboard-customers {
  .dashboard-header-products {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    .search {
      border-radius: 20px;
      border: none;
      box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
      padding: 10px;
      margin-left: 30px;
      input {
        border: none;
        &:focus {
          outline: none;
        }
      }
      .search-icon {
        color: dodgerblue;
        font-size: 25px;
      }
    }
  }
  .checkcolumnsproducts {
    width: 66%;
    text-align: right;
    .basket {
      .basket-count {
        position: absolute;
        background-color: dodgerblue;
        border-radius: 20px;
        height: 25px;
        width: 25px;
        text-align: center;
        top: 19%;
        right: 3%;
      }
      .basketbutton {
        border: none;
        background-color: white;
        .basket-icon {
          font-size: 30px;
        }
      }
    }
  }
  .container-fluid {
    .row {
      .tablestyle {
        width: 100%;
        .deletetableheader {
          input {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
