.cart-overlay {
  .cart-container {
    .cart-header {
      padding-bottom: 30px;
    }
    .cardlist {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 2rem;
      .card {
        width: 70%;
        height: 30%;
        margin: 0 auto 20px;
        img{
          padding: 10px;
        }
        .card-body {
          .checkedproduct {
            padding-top: 15px;
            label {
              padding-right: 20px;
            }
            input {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
