.cart-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  .cart-container {
    padding: 30px 24px;
    max-width: 400px;
    min-width: 320px;
    width: 100%;
    background-color: #f9f9f9;
    // transition: all ease-in-out 0.3s;
    animation: drawerAnimation 0.3s ease-out backwards;
    .cart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        cursor: pointer;
        .closebutton {
          color: #222;
          font-size: 30px;
        }
      }
    }
  }

  .allmoods {
    .choosingmood {
      padding: 30px 0;
    }
    .lightdarkmoods {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      .lightmood {
        border-radius: 5px;
        margin-bottom: 30px;
        display: flex;
        width: 80%;
        padding: 10px 0 5px 10px;
        cursor: pointer;
        span {
          height: 30px;
          width: 30px;
          display: inline-block;
          background-color: white;
          border-radius: 25px;
          vertical-align: middle;
          margin-right: 10px;
        }
        p {
        }
      }
      .darkmood {
        border-radius: 5px;
        display: flex;
        width: 80%;
        padding: 10px 0 5px 10px;
        cursor: pointer;
        span {
          height: 30px;
          width: 30px;
          display: inline-block;
          background-color: black;
          border-radius: 25px;
          vertical-align: middle;
          margin-right: 10px;
        }
        p {
        }
      }
      ul {
        list-style: none;
        padding-left: 0;
        width: 80%;
        li {
          padding: 10px 0 10px 10px;
          border-radius: 5px;
          margin-bottom: 20px;
          cursor: pointer;
          .paint-icons {
            font-size: 30px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@keyframes drawerAnimation {
  from {
    transform: translateX(20%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.bgcolor {
  background-color: dodgerblue;
  color: white;
}

.light {
  background-color: white;
}

.dark {
  background-color: black;
  color: white;
  a {
    color: white;
  }
  .sidebar {
    box-shadow: 3px 3px 10px 6px;
  }
  .dropdown {
    .dropdown-button {
      span {
        background-color: white;
        color: black;
      }
    }
    .dropdown-content {
      background-color: #252525;
      .dropdown-item {
        &:hover {
          color: black;
        }
      }
    }
  }
  .customnavbar {
    .threedropdown {
      .palette {
        color: white;
      }
    }
  }
  .dashboard {
    .container-fluid {
      .row {
        .col-6 {
          .col-5 {
            box-shadow: 3px 3px 10px 6px;
          }
        }
      }
    }
  }
  .cart-overlay {
    .cart-container {
      transition: none;
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 3px 3px 10px 6px;
      .cart-header {
        color: white;
      }
      a {
        .closebutton {
          color: white;
        }
      }
      .allmoods {
        color: white;
      }
    }
  }
  .dashboard-customers{
    .container-fluid{
      .row{
        .tablestyle {
          box-shadow: 3px 3px 10px 6px;
        }
        .button-list{
          .leftcontent{
           .select{
            background-color: black;
           }
          }
          .rightcontent{
            .button-item{
              background-color: black;
              color: white;
            }
            .button-previous{
              background-color: black;
              color: white;
            }
            .button-next{
              background-color: black;
              color: white;
            }
          }
        }
      }
    }
    
  }
  
}

.activetheme {
  background-color: dodgerblue;
  color: white;
}

.blue {
  color: blue;
}

.red {
  color: red !important;
}

.cyan {
  color: cyan;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.deepskyblue {
  color: deepskyblue;
}
